.body {
  margin: 0;
}

.uppersection{
  border: solid 1px;
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.search-bar 
{
  display: flex;
 
  
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
 
}
.container {
  display: flex;
  justify-content: center;
}

.scrollBanner{
  white-space: nowrap;

  border: solid 10px;
  width: 80%;
  display: flex;
  justify-content:center;
  align-items:center;
  justify-content: space-between;
  overflow: hidden;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
  overflow-x: scroll; /* abilita la scrollbar orizzontale */
  scroll-snap-type: x mandatory; /* abilita lo snapping al contenuto */
  -webkit-overflow-scrolling: touch; /* abilita lo scrolling fluido in iOS */

}
.scrollBanner img
{
  width: 100%;
  display: flex;
  scroll-snap-align: center; /* allinea le immagini al centro del contenitore */
  
 
}
.containerCoupon {
  display: flex;
  justify-content: center;
  
  

}
.scrollCoupon{
  
  width: 80%;
  
  

  
  
}
.scrollCoupon img{
  width: 80%;
  display: flex;
  

  
  margin-bottom: 10px; /* Distanza tra le immagini */
  
  
}
.navbar {
  background-color: #000000;
  padding: 10px;
  
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #d9d9d9;
}

.navbar ul li a:hover {
  background-color: #3e3e3e;
}

.GestioneClienti {
  text-align: center;
  width: 100%;
  position: relative;
  min-height: 600px;
}
.main-content{
  min-height: 500px;
}

/*colora il pallino e la scritta insieme*/
.GestioneClienti ul{
  text-align: left;
  margin: 0 auto;
  width: 300px;
  margin-bottom: 301px;
}
.GestioneClienti ul li{
 list-style-type: none;
 font-size: larger;
   
}
.GestioneClienti ul li a{
  text-decoration: none;
  color: #000000 ;
   
}
.GestioneClienti ul li a:hover{
  text-decoration: none;
  color: #ff0000 ;
   
}
.GestioneClienti ul li a::before {
  content: "\2022"; /* Carattere del pallino */
  color: rgb(0, 0, 0); /* Colore del pallino */
  display: inline-block;
  width: 1em; /* Larghezza del pallino */
  margin-right: 5px; /* Margine a destra del pallino */
}
.GestioneClienti ul li a:hover::before {
  content: "\2022"; /* Carattere del pallino */
  color: red; /* Colore del pallino al passaggio del mouse */
  display: inline-block;
  width: 1em; /* Larghezza del pallino */
  margin-right: 5px; /* Margine a destra del pallino */
}
/*sezione del bottone aggiungi*/
.Bottone_aggiungi {
  text-align: left;
  margin-top: 5px;
  margin-left: 5px;
  float: left;
  position: sticky;
  bottom: 20px;
  border: 2px solid rgb(57, 192, 0);
  color: rgb(57, 192, 0);
  padding: 10px;
  border-radius: 10px;
}
.Bottone_aggiungi:hover{
  background-color: rgb(45, 146, 2);
  color:  rgb(38, 124, 1) ;
}
.Bottone_aggiungi a{
  text-decoration: none;
  color:inherit;
}
.Bottone_genera {
  text-align: left;
  margin-top: 5px;
  margin-left: 5px;
  float: left;
  position: sticky;
  bottom: 20px;
  border: 2px solid rgb(57, 192, 0);
  color: rgb(57, 192, 0);
  padding: 10px;
  border-radius: 10px;
}
.Bottone_genera:hover{
  background-color: rgb(45, 146, 2);
  color:  rgb(38, 124, 1) ;
}
.Bottone_genera a{
  text-decoration: none;
  color:inherit;
}
.Bottone_stampa {
  text-align: right;
  margin-top: 5px;
  margin-left: 5px;
  float: right;
  position: sticky;
  bottom: 20px;
  border: 2px solid rgb(57, 192, 0);
  color: rgb(57, 192, 0);
  padding: 10px;
  border-radius: 10px;
}
.Bottone_stampa:hover{
  background-color: rgb(45, 146, 2);
  color:  rgb(38, 124, 1) ;
}
.Bottone_stampa a{
  text-decoration: none;
  color:inherit;
}
.CercaUtenti-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.CercaUtenti-input {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}

.CercaUtenti-bottone {
  padding: 5px 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  cursor: pointer;
}
.CercaUtenti-bottone:hover{
  background-color: #9e9b9b;
}
.Operatore {
  text-align: center;
  width: 100%;
  position: relative;
  flex-direction: column;
}
.Operatore2 {
  text-align: center;
  width: 100%;
  position: relative;

}

/*colora il pallino e la scritta insieme*/
.Operatore table{
  text-align: left;
  margin: 0 auto;
  width: 200px;
  margin-bottom: 301px;
  
}
.Operatore table tr{
  border:3px;
  font-size:x-large
}
.Operatore table tr td{
  border-left: 2px;
  text-align: center;
  border: 1px solid black;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
}
.Promozione {
  text-align: center;
  width: 100%;
  position: relative;
  flex-direction: column;
}
.Coupon {
  text-align: center;
  width: 100%;
  position: relative;
  flex-direction: column;
}
.Form_modifica{
    margin-bottom: 10px;
}

  
  .Form_modifica label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .Form_modifica select{
    padding: 2px 2px;
    height: 30px;
  }
  .Form_modifica select:hover{
    border: 2px solid black;
  }
  .Form_modifica input:hover{
    border: 2px solid black;
  }

.Bottone_elimina{
  text-align: left;
  margin-top: 5px;
  margin-left: 5px;
  float: left;
  position: sticky;
  bottom: 20px;
  border: 2px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  padding: 10px;
  border-radius: 10px;
}
.Bottone_elimina:hover{
  background-color: rgb(196, 98, 98);
  color:  rgb(190, 0, 0) ;
}
.Bottone_elimina a{
  text-decoration: none;
  color:inherit;
}
.Bottone_elimina button{
  text-decoration: none;
  color:inherit;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.Bottone_edit{
  text-align: right;
  margin-top: 5px;
  margin-left: 5px;
  float: right;
  position: sticky;
  bottom: 20px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
}



.Bottone_edit:hover{
  background-color:#3e3e3e;
  color:  rgb(0, 0, 0) ;
}
.Bottone_edit a{
  text-decoration: none;
  color:inherit;
}
.Bottone_salva{
  text-align: center;
  margin-top: 40px;
  margin-left: 5px;
  position: sticky;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
}
.Bottone_salva:hover{
  background-color:#3e3e3e;
  color:  rgb(0, 0, 0) ;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3e3e3e;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 200px;
  }
.footer p{
  color: #d9d9d9;
  text-align: center;
}
.ContenitoreAccesso{
  display: flex;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;   
}
.form-group{
margin-bottom: 5px;

}
.bel{
  display: flex;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;  
}
.sepLogin
{
display: flex;
  
justify-content: center;
align-items: center;
flex-direction: column;
}




.ContenitoreFaqCompleto{
display: flex;
justify-content: center;
align-items: center;
}
.ContenitoreLegenda{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.ContenitoreFaq {
display: flex;
justify-content: stretch;
align-items: center;
flex-direction: column;
width: 800px; /* Imposta la larghezza del contenitore */
height: 500px; /* Imposta l'altezza del contenitore basata sulla dimensione verticale della finestra del browser */
overflow: auto; /* Aggiungi scorrimento automatico */
overflow-x: hidden; /* Nasconde la barra di scorrimento orizzontale */
padding: 20px;
}
.domanda {
text-align: center;
cursor: pointer;
font-weight: bold;
text-decoration: underline;
}

.ContenitoreProfilo{

display: flex;
justify-content: center;
align-items: center;
}



.popup {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: rgb(255, 255, 255); /* Imposta un colore di sfondo traslucido */
  padding: 20px;
  border: 5px solid #000000;
  z-index: 9999;
  
}

.inputDomanda, .inputRisposta {
  width: 100%;
  height: 180px; /* Imposta l'altezza della casella di testo in base alle dimensioni del popup */
}
.promoHome{
  
  background-color: #a4a4a4;
  height: 200px;
  width: 450px;
  display: inline-block;
  
  margin-bottom: 10px; /* Aggiungi un margine inferiore per separare gli oggetti verticalmente */
  margin-top: 10px; /* Aggiungi un margine inferiore per separare gli oggetti verticalmente */
  


  
}
.conenitoreHome{
  display: flex;
  
  justify-content: center; 

}
.contenitorePromo{
  display: flex;
  flex-direction: column; /* Imposta la direzione del layout a colonna */
  justify-content: center; /* Centra orizzontalmente gli elementi */
  align-items: center; /* Centra verticalmente gli elementi */
  padding: 30px;

}
.back-button {
  float: left;
  margin-left: 5px;
  text-align: left;
  padding: 10px 10px;
  background-color: #f1f1f1;
  border-radius: 100px;
  transition: background-color 0.3s;
  
}

.back-button:hover {
  background-color: #ddd;
}

.back-button .arrow {
  margin-right: 5px;
  font-size: 14px;
}
.Coupon_generato a{
  text-align: center;
  margin-top: 5px;
  position: sticky;
  bottom: 20px;
  color:red;
  text-decoration:underline
}
.errori ul{
  margin-bottom: 0;
}

.gruppoStats {
  display: flex;
  height: 500px;
  border: 5px solid black;
  overflow-x: scroll;
  overflow-y: hidden;
}

.scrollbar {
  flex: 1;
  text-align: center;
  overflow-y: scroll;
  scrollbar-width: thin;
}


.search-input {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.gruppoCercaStats{
  display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    padding: 0 250px; /* Aggiunto padding per distanza dai bordi */
    background-color: #ffffff;
}
.azienda_ancora
{
  text-decoration: none;
  color: #000000;
  font-size: larger;
  font-weight: 1000;
}
.azienda_ancora:hover
{
  font-size: x-large;

}